<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a [routerLink]="['home']">
                <img src="./assets/img/logo_001.png" alt="" title="" />
            </a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['home']">INICIO</a>
                </li>
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['quienes']">¿QUIÉNES SOMOS?</a>
                </li>
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['servicios']">SERVICIOS</a>
                </li>
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['productos']">PRODUCTO</a>
                </li>
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['promociones']">PROMOCIÓNES</a>
                </li>
                <li routerLinkActive="menu-active">
                    <a [routerLink]="['contacto']">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->