<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#hero">
                <img src="./assets/img/logo_001.png" alt="" title="" />
            </a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">INICIO</a></li>
                <li><a href="#about">¿QUIÉNES SOMOS?</a></li>
                <li><a href="#services">SERVICIOS</a></li>
                <li><a href="#portfolio">PRODUCTO</a></li>
                <li><a href="#team">PROMOCIÓNES</a></li>
                <li><a href="#contact">CONTACTO</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->