<section id="services">

    <div class="services-container wow fadeIn">
        <div class="services-header">
            <h2 class="services-title">Servicios</h2>
            <p class="services-description">Nuestro equipo está conformado por profesionales en telecomunicaciones con amplia experiencia en la implementación de soluciones tecnológicas de Voz, Datos, Video y Seguridad Informática. Ofreciendo a nuestros clientes la última generación
                de aplicaciones en soluciones convergentes, con un equipo de trabajo éticamente comprometido, altamente capacitado con la premisa en la calidad y la mejora continua.</p>
        </div>
        <div class="row services-description">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box" [routerLink]="['../telefonia']">
                    <div class="icon">
                        <a><i class="fa fa-phone"></i></a>
                    </div>
                    <h4 class="title">
                        <a>Telefonía</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box" [routerLink]="['../computo']">
                    <div class="icon">
                        <a><i class="fa fa-laptop"></i></a>
                    </div>
                    <h4 class="title">
                        <a>Computo</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box" [routerLink]="['../redes']">
                    <div class="icon">
                        <a><i class="fa fa-feed"></i></a>
                    </div>
                    <h4 class="title">
                        <a>Redes</a>
                    </h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s"></div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box" [routerLink]="['../seguridad']">
                    <div class="icon">
                        <a><i class="fa fa-lock"></i></a>
                    </div>
                    <h4 class="title">
                        <a>Seguridad</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s"></div>

        </div>
    </div>
</section>