<section id="serviciosdet">
    <div class="container">
        <div class="row serviciosdet-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">Computo</h2>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <h4 class="title"><a href="">Venta, reparación y mantenimiento de los equipos.</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-id-card-o"></i></div>
                    <h4 class="title"><a href="">Contamos con las herramientas, paqueterías y licencias de última generación en antivirus, antispyware, edición de video, fotografía, diseño gráfico, convertidores, programación, rescate y reestructuración de información, sistemas operativos de red para el óptimo funcionamiento de sus sistemas de información para un estratégico manejo de sus equipos.</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

    </div>
</section>