<section id="quienes">
    <div class="quienes-container wow fadeIn">
        <div class="row quienes-container">
            <h2 class="title">¿Quienes somos?</h2>
            <p class="quienes-description">
                ISET nace por la inquietud de cubrir el mercado de las telecomunicaciones en la república mexicana, instalando conmutadores telefónicos, sistemas de cableado estructurado, y sistemas de intercomunicación, seguridad electrónica. A partir del año 2017 por
                la inquietud y demanda de nuestros clientes damos inicio a nuestra nueva actividad la seguridad informática
            </p>
        </div>
    </div>
</section>