<section id="serviciosdet">
    <div class="container">
        <div class="row serviciosdet-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">Redes</h2>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-hdd-o"></i></div>
                    <h4 class="title"><a href="">Venta de equipo activo (Routers, Switches, Acces Point, etc.)</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-wifi"></i></div>
                    <h4 class="title"><a href="">Cableado estructurado, Telefónico y de CCTV.</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-sitemap"></i></div>
                    <h4 class="title"><a href="">Fibra Óptica</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon"><i class="fa fa-desktop"></i></div>
                    <h4 class="title"><a href="">Equipamiento de Data Centers, Sites(Racks, Gabinetes y Energía).</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

    </div>
</section>