<section id="serviciosdet">
    <div class="container">
        <div class="row serviciosdet-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">Telefonía</h2>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <h4 class="title"><a>Conmutadores Telefónicos</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-volume-control-phone"></i></div>
                    <h4 class="title"><a>Conmutadores Analógicos, Digitales e IP</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-desktop"></i></div>
                    <h4 class="title"><a>Sistema de Procesamiento de Voz</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon"><i class="fa fa-signal"></i></div>
                    <h4 class="title"><a>Telefonía VoIP</a></h4>
                    <p class="description">&nbsp;</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
                <div class="icon-box-esp wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                </div>
            </div>
        </div>

    </div>
</section>