<footer id="colophon" class="site-footer">–
    <div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 space">
                <div class="foot-icons ">
                    <ul class="footer-social-links list-inline list-unstyled">
                        <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" class="foot-icon-bg-4"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12 space">
                <div class="col-sm-6 hidden"></div>
                <div class="col-sm-6 col-xs-12">
                    <p class="copyright">2021. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>